/* .header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}

.log {
  width: 100px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.card > img {
  width: 100%;
  height: 40%;
}

.restaruant-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmercard {
  width: 200px;
  height: 200px;
  background: lightgrey;
  margin: 20px;
}

.menu {
  display: flex;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
